#gitignore

# Windows default autosave extension
*.asv
**/*.asv

# OSX / *nix default autosave extension
*.m~
**/*.m~
*.*~

# Compiled MEX binaries (all platforms)
*.mex*
**/*.mex*

# Matlab code generation folders
codegen/

